---
---

// global
.preload * {
  transition: none !important;
}
.hidden {
  display: none !important;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  word-break: keep-all;
}
html, body, div, ul {
  -ms-overflow-style: none; scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
:root {
  --bg-a: #f8f9fa; --bg-b: #e9ecef; --fg-a: #16191d; --fg-b: #005cc5; --shadow: rgba(0,0,0,0.3) 2px 2px 5px 2px, rgba(255,255,255,1) -2px -2px 5px 2px;
  &.dark {
    --bg-a: #16191d; --bg-b: #212529; --fg-a: #e9ecef; --fg-b: #79c0ff; --shadow: rgba(0,0,0,1) 2px 2px 5px 2px, rgba(255,255,255,0.06) -2px -2px 5px 2px;
  }
}
a {
  text-decoration: none; color: var(--fg-b); border: 1px dashed transparent; border-radius: 0.25rem;
  &:hover {
    border-color: var(--fg-b);
  }
}

// layout
body {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  font: 300 16px NanumSquareNeo,san-serif; line-height: 1.5; color: var(--fg-a); background: var(--bg-b);
  .a {
    height: 100%; max-width: 1024px; margin: 0 auto;
    overflow: hidden;
    #slide.aa {
      position: relative; left: -300px;
      display: flex;
      height: 100%; width: calc(100% + 300px);
      transition: left 0.4s;
      &.open {
        left: 0;
      }
      @media (min-width: 1024px) {
        left: auto; width: 100%;
      }
      .aaa {
        flex: 0 0 300px;
        height: 100%; padding: 0.5rem 0;
        #sidebar.aaaa {
          height: 100%;
          overflow-y: scroll;
          .aaaaa {
            padding: 0 0.5rem;
          }
        }
      }
      .aab {
        flex: 1 0 0;
        height: 100%; min-width: 0; padding: 0.5rem;
        background: var(--bg-a);
        #mainview.aaba {
          height: 100%;
          overflow-y: scroll; 
        }
      }
    }
  }
}

// mainview
#page-title {
  margin: 3rem 0;
  font-size: 2rem; text-align: center;
}
#page-desc {
  font-size: 0.9rem; text-align: right;
}
#page-main {
  h2 {
    margin: 3rem 0 1.5rem 0;
    font-size: 1.5rem;
    &:before {
      content: '# ';
    }
  }
  p, pre, ul, div, blockquote, h3, h4, h5, h6 {
    margin: 1.5rem 0;
    &[class] {
      position: relative;
      margin: 1.5rem 1rem; padding: 1.5rem 0.5rem 0.5rem 0.5rem;
      font-size: 0.9rem;
      border-left: 3px solid var(--fg-b); background: var(--bg-b); box-shadow: var(--shadow);
      &:before {
        content: attr(class); text-transform: uppercase; line-height: 1.1; font-family: hack,monospace;
        position: absolute; top: 0; left: -3px;
        display: inline-block; padding: 0 0.5rem;
        color: var(--bg-b); background: var(--fg-b); box-shadow: var(--shadow);
      }
    }
  }
  p, ul, div, blockquote {
    code {
      font-family: hack,NanumSquareNeo,monospace; border: 1px dashed; border-radius: 0.25rem;
    }
    li {
      margin-left: 1rem;
      &:before {
        content: '-';
        display: inline-block; width: 1rem; margin-left: -1rem;
      }
    }
  }
  pre {
    font-family: hack,NanumSquareNeo,monospace;
    >code {
      display: block;
      overflow-x: auto;
    }
  }
  img, svg {
    display: block; max-width: 100%; margin: 0 auto;
    +em {
      display: block;
      font-size: 0.9rem; text-align: center;
    }
  }
  b, strong {
    text-decoration: var(--fg-b) double underline; text-underline-offset: 0.25rem;
  }
}

// sidebar
#site-sticky {
  position: sticky; top: 0;
  margin-top: -0.5rem; padding: 0.5rem 0;
  background: var(--bg-b);
  #site-title {
    margin: 1rem 0;
    font-size: 1.5rem; text-align: center;
  }
  #site-control {
    display: flex; align-items: center; justify-content: center; gap: 0.25rem;
    margin: 1rem 0; height: 1.5rem; width: 100%;
    text-align: center;
    >label {
      position: relative;
      display: block; height: 1.5rem; width: 3rem;
      box-shadow: var(--shadow); border-radius: 9999px;
      cursor: pointer;
      >input {
        height: 0; width: 0; opacity: 0;
        &:checked+div {
          left: 1.5rem;
        }
      }
      >div {
        position: absolute; top: 0; left: 0;
        height: 1.5rem; width: 1.5rem;
        background: var(--fg-b); border-radius: 9999px;
        transition: left 0.4s;
      }
    }
    &:before {
      content: '\f5a2'; font-family: bootstrap-icons;
      display: flex; align-items: center; justify-content: center;
      height: 1.5rem; width: 1.5rem;
    }
    &:after {
      content: '\f496'; font-family: bootstrap-icons;
      display: flex; align-items: center; justify-content: center;
      height: 1.5rem; width: 1.5rem;
    }
  }
}
#site-nav {
  margin-top: 2rem;
  font-size: 0.9rem;
  .lv1 {
    margin-left: 1rem; margin-top: 1rem;
    cursor: pointer;
    &:before {
      content: '\f231'; font: 300 0.5rem bootstrap-icons; vertical-align: middle;
      display: inline-block; width: 1rem; margin-left: -1rem;
    }
    &.open:before {
      content: '\f229';
    }
  }
  .lv2 {
    margin-left: 2rem;
    cursor: pointer;
    &:before {
      content: '\f231'; font: 300 0.5rem bootstrap-icons; vertical-align: middle;
      display: inline-block; width: 1rem; margin-left: -1rem;
    }
    & +.lv3 {
      display: none;
    }
    &.open {
      &:before {
        content: '\f229';
      }
      & +.lv3 {
        display: block;
      }
    }
  }
  .lv3 {
    li {
      margin-left: 2rem;
      a {
        display: block; margin-left: 1rem;
        &:before {
          content: '\f231'; font: 300 0.5rem bootstrap-icons; vertical-align: middle;
          display: inline-block; width: 1rem; margin-left: -1rem;
        }
      }
      &.current {
        position: relative;
        margin-right: -0.5rem; padding-right: 0.5rem;
        background: var(--bg-a);
        a {
          color: var(--fg-a);
          pointer-events: none; cursor: default;
        }
      }
    }
  }
}

//menu-btn
#menu-btn {
  background: var(--bg-b);
  cursor: pointer;
  @media (min-width: 1024px) {
    display: none;
  }
  position: fixed; top: 1rem; right: 1rem;
  display: flex; align-items: center; justify-content: center;
  height: 2rem; width: 2rem;
  font-size: 1.5rem; border-radius: 9999px; box-shadow: var(--shadow);
  &:before {
    content: '\f5d4'; font-family: bootstrap-icons;
    display: inline-block;
  }
}