---
---

// global
div::-webkit-scrollbar {
  display: none;
  & {
    -ms-overflow-style: none; scrollbar-width: none;
  }
}
:root {
  --fg-a: #111; --bg-a: #eee;
}
* {
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
  li {
    display: block; 
  }
}
.preload * {
  transition: none !important;
}

// layout
body {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  font: 400 16px sans-serif; color: var(--fa-a); background: var(--bg-a);
  display: flex; flex-direction: column;
  header {
    flex: 0 0 3rem;
    >.a {
      height: 100%; max-width: 60rem; margin: 0 auto; padding: 0 0.5rem;
      display: flex; align-items: center;
      >.aa {
        flex: 1 0 auto;
        display: flex; justify-content: left; gap: 1.5rem;
      }
      >.ab {
        flex: 1 0 auto;
        display: flex; justify-content: right; gap: 1.5rem;
      }
    }
  }
  main {
    flex: 1 0 0; min-height: 0;
    >.a {
      height: 100%; max-width: 60rem; margin: 0 auto; padding: 0 0.5rem;
      >.aa {
        height: 100%; width: 100%;
        overflow: hidden;
        #slide {
          position: relative; left: 0;
          height: 100%; width: 200%;
          display: flex;
          transition: left 0.4s;
          &.sw2-checked {
            left: -100%;
          }
          #page {
            flex: 1 0 0; height: 100%; min-width: 0;
            overflow-y: scroll; overflow-x: hidden;
            #page-footer {
              position: sticky;
              top: 100vh;
            }
          }
          #nav {
            flex: 1 0 0; height: 100%; min-width: 0;
          }
        }
      }
    }
  }
}

// switch
.switch {
  >label {
    position: relative;
    height: 1rem; width: 2rem;
    display: block;
    cursor: pointer;
    >.a {
      position: absolute; top: 0; left: 0; height: 1rem; width: 2rem;
      display: flex; align-items: center; justify-content: center;
      >div {
        flex: 1 0 auto;
        display: flex; align-items: center; justify-content: center;
      }
    }
    input {
      height: 0; width: 0; opacity: 0;
      &:checked + .b {
        left: 1rem;
        & .ba {
          left: -1rem;
        }
      }
    }
    >.b {
      position: absolute; top: 0; left: 0;
      height: 1rem; width: 1rem;
      background-color: var(--fg-a);
      overflow: hidden;
      transition: left 0.4s;
      >.ba {
        position: absolute; top: 0; left: 0; height: 1rem; width: 2rem;
        display: flex; align-items: center; justify-content: center;
        transition: left 0.4s;
        >div {
          flex: 1 0 auto;
          display: flex; align-items: center; justify-content: center;
          color: var(--bg-a);
        }
      }
    }
  }
}

// nav
#nav {
  height: 100%;
  display: flex; flex-direction: column; gap: 1rem;
  overflow: hidden;
  #tags {
    flex: 0 0 auto;
    ul {
      display: flex; flex-wrap: wrap; gap: 1rem;
      li {
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }
  #posts {
    position: relative; left: 0;
    flex: 1 0 auto;
    display: flex; width: calc(100% * {{ site.navtags.size }});
    overflow: hidden; transition: left 0.4s;
    {% for tag in site.navtags %}
    &.selected-{{ tag.id }} {
      left: -{{ forloop.index0 }}00%;
    }
    {% endfor %}
    >div {
      flex: 1 0 0;
      overflow-y: scroll; overflow-x: hidden;
    }
  }
}

// page
#page {
  #page-main {
    pre {
      >code {
        display: block;
        overflow-x: auto;
      }
    }
  }
}