---
---

{% for cat in site.cats %}
<div class="cat-title opened" cat="{{ cat.id }}">{{ cat.title }}</div>
{% for sub in cat.subs %}
<div class="sub-title" sub="{{ sub.id }}">{{ sub.title }}</div>
<ul class="nav-posts-wrapper" cat="{{ cat.id }}" sub="{{ sub.id }}">
    {% assign items = site.tags[sub.id] %}
    {% if sub.order == "asc" %}{% assign items = items | reverse %}
    {% elsif sub.order == "title" %}{% assign items = items | sort: "title" %}
    {% elsif sub.order == "title-desc" %}{% assign items = items | sort: "title" %}{% assign items = items | reverse %}
    {% elsif sub.order == "updated" %}{% assign items = items | sort: "updated" %}
    {% elsif sub.order == "updated-desc" %}{% assign items = items | sort: "updated" %}{% assign items = items | reverse %}
    {% endif %}
    {% for post in items %}
    {% if post.tags contains cat.id %}
    <li class="nav-post" cat="{{ cat.id }}" sub="{{ sub.id }}">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}
{% endfor %}