---
---

$white: white;
$bg-color: #f5f6fa;
$color: #27262b;
$a-color: #1267da;
$b-color: #dd672c;
$c-color: lighten($color, 30%);
$blue-a-color: #28a1c5;
$blue-bg-color: #f4f8fa;
$red-a-color: #b52b27;
$red-bg-color: #fdf7f7;
$green-a-color: #3d8b3d;
$green-bg-color: #f1f9f1;


// globals
div, ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
html, body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    margin: 0;
    padding: 0;
    font-family: "Hack", "NanumSquareRound", monospace !important;
    font-size: 16px;
    line-height: 1.3;
    color: #{$color};
    background-color: #{$bg-color};
}
pre, code, kbd, samp {
    font-family: "Hack", "NanumSquareRound", monospace !important;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #{$a-color};
    font-weight: 800;
    word-break: break-all;
}
b, strong {
    color: #{$b-color};
    font-weight: 800;
    border-bottom: 1px dotted;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, li, button {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.4s;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
img, svg {
    vertical-align: bottom;
    max-width: 100%;
}

// sidebar
.fixed-sidebar {
    background-color: transparent;
    padding: 0 0.5rem 0.5rem 0.5rem;
    // border: 1px solid #{$c-color};
    position: fixed;
    top: 0;
    left: calc((100vw - 1200px) / 2);
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
    @media (max-width: 1199px) {
        left: -300px;
    }
    .header {
        position: sticky;
        top: 0;
        background-color: #{$bg-color};
        height: 60px;
        .site-title {
            text-align: center;
            padding: 1rem 0 1rem 0;
            a i {
                font-size: 1.5rem;
                position: relative;
                top: -0.5rem;
                left: 0.5rem;
            }
        }
    }
    .nav {
        .navtag {
            margin: 1.5rem 0 1.5rem 0;
            .navtag-title {
                cursor: pointer;
                &:before {
                    content: "\f0da\00a0";
                    font: var(--fa-font-solid);
                    display: inline-block;
                    width: 1rem;
                    text-align: left;
                }
                &.clicked:before {
                    content: "\f0d7\00a0";
                }
                &.clicked ~ .subtag {
                    display: block !important;
                }
            }
            .subtag {
                display: none;
                margin: 0.5rem 0 0.5rem 1rem;
                .subtag-title {
                    cursor: pointer;
                    &:before {
                        content: "\f0da\00a0";
                        font: var(--fa-font-solid);
                        display: inline-block;
                        width: 1rem;
                        text-align: left;
                    }
                    &.clicked:before {
                        content: "\f0d7\00a0";
                    }
                    &.clicked ~ .subtag-post-wrapper {
                        display: block !important;
                    }
                }
                .subtag-post-wrapper {
                    display: none;
                    margin: 0.5rem 0 0.5rem 1rem;
                    .subtag-post {
                        padding: 0.25rem 0;
                        &.current {
                            background-color: darken($bg-color, 10%);
                        }
                        // &.current:after {
                        //     content: "\f061";
                        //     font: var(--fa-font-solid);
                        //     text-align: right;
                        // }
                    }
                }
            }
        }
    }
    .footer {
        .footer-msg {
            text-align: center;
        }
    }
}

// main
.fixed-main {
    background-color: #ffffff;
    padding: 0 0.5rem 0.5rem 0.5rem;
    // border: 1px solid #{$c-color};
    position: fixed;
    top: 0;
    left: calc((100vw - 1200px) / 2 + 300px);
    width: 900px;
    bottom: 0;
    overflow-y: scroll;
    .main-top {
        height: 60px;
        display: flex;
        align-items: center;
        .main-top-msg {
            flex: 0 0 0;           
            @media (max-width: 1199px) {
                display: none;
            }
        }
        .btn {
            display: none;
            @media (max-width: 1199px) {
                display: block;
                text-align: right;
            }
        }
    }
    // article 별도 표시
    @media (max-width: 1199px) {
        left: 0;
        width: 100%;
    }
}

// article
.article {
    .page-title {
        margin: 2rem 0 1rem 0;
        text-align: center;
        &:before {
            content: "\f10d";
            font: var(--fa-font-solid);
            font-size: 1.5rem;
            position: relative;
            top: -0.8rem;
        }
        &:after {
            content: "\f10e";
            font: var(--fa-font-solid);
            font-size: 1.5rem;
            position: relative;
            top: -0.8rem;
        }
    }
    .page-desc {
        margin: 1rem 0 2rem 0;
        text-align: right;
        font-size: 0.9rem;
        color: #{$c-color};
    }
    .page-main {
        code {
            color: #{$c-color};
            border: 1px dotted #{$c-color};
            border-radius: 4px;
            background-color: #ffffff;
        }
        img, svg {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            & + em {
                margin: 0 0 1rem 0;
                color: #{$c-color};
                font-size: 0.9rem;
                text-align: center;
                display: block;
            }
        }
        div, p, pre, ul {
            margin: 1rem 0;
        }
        h2 {
            margin: 2rem 0 1rem 0;
            &:before {
                content: "#\00a0";
            }
        }
        p[class], pre, ul {
            color: #{$blue-a-color};
            background-color: #{$blue-bg-color};
            border-left: 3px solid #{$blue-a-color};
            padding: 0.5rem;
            font-size: 0.9rem;
            &:before {
                content: "# " attr(class);
                display: block;
                padding-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 800;
            }
        }
        ul {
            li {
                margin-left: 0.9rem;
                &:before {
                    content: "-";
                    font: var(--fa-font-solid);
                    display: inline-block;
                    width: 0.9rem;
                    margin-left: -0.9rem;
                    text-align: left;
                }
            }
        }
        pre {
            code, kbd, samp {
                border: none;
                margin: 0 !important;
                padding: 0 !important;
                background-color: transparent !important;
                font-size: 0.9rem !important;
                color: #{$color} !important;
            }
        }
        .warn, .warning {
            color: #{$red-a-color} !important;
            background-color: #{$red-bg-color} !important;
            border-left: 3px solid #{$red-a-color} !important;
        }
        .info, .infomation, .note {
            color: #{$green-a-color} !important;
            background-color: #{$green-bg-color} !important;
            border-left: 3px solid #{$green-a-color} !important;
        }
    }
    .page-reply {
        margin: 1rem 0;
    }
}