---
---

$white: white;
$bg-color: #f5f6fa;
$color: #27262b;
$a-color: #1267da;
$b-color: #dd672c;
$c-color: lighten($color, 30%);
$note-color: #eff8f8;

// globals
div, ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
html, body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    margin: 0;
    padding: 0;
    font-family: "Hack", "NanumSquareRound", monospace !important;
    font-size: 16px;
    line-height: 1.4;
    color: #{$color};
    background-color: #{$bg-color};
}
pre, code, kbd, samp {
    font-family: "Hack", "NanumSquareRound", monospace !important;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #{$a-color};
    font-weight: 800;
    word-break: break-all;
}
b, strong {
    color: #{$b-color};
    font-weight: 800;
    border-bottom: 1px dotted;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, li, button {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
img, svg {
    vertical-align: bottom;
    max-width: 100%;
}

// sidebar
.fixed-sidebar {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid #{$c-color};
    position: fixed;
    top: 0;
    left: calc((100vw - 1200px) / 2);
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
    .header {
        position: sticky;
        .site-title {
            text-align: center;
            margin: 1rem 0;
            a i {
                font-size: 1.5rem;
                position: relative;
                top: -1rem;
                left: 0.5rem;
            }
        }
    }
    .nav {

    }
    .footer {

    }
}

// main
.fixed-main {
    background-color: #ffffff;
    padding: 0.5rem;
    border: 1px solid #{$c-color};
    position: fixed;
    top: 0;
    left: calc((100vw - 1200px) / 2 + 300px);
    width: 900px;
    bottom: 0;
    overflow-y: scroll;
    // article 별도 표시
}

// article
.article {
    .page-title {
        margin: 1rem 0;
        text-align: center;
        &:before {
            content: "\f10d";
            font: var(--fa-font-solid);
            font-size: 1.5rem;
            position: relative;
            top: -0.8rem;
        }
        &:after {
            content: "\f10e";
            font: var(--fa-font-solid);
            font-size: 1.5rem;
            position: relative;
            top: -0.8rem;
        }
    }
    .page-desc {
        margin: -1rem 0 2rem 0;
        text-align: right;
        font-size: 0.9rem;
        color: #{$c-color};
    }
    .page-main {
        img, svg {
            display: block;
            text-align: center;
            max-width: 100%;
            height: auto;
        }
        div, p, pre, ul {
            margin: 1rem 0;
        }
        h2 {
            margin: 2rem 0 1rem 0;
            &:before {
                content: "#\00a0";
            }
        }
        p[class], pre, ul {
            color: darken($note-color, 80%);
            background-color: #{$note-color};
            border-left: 3px solid darken($note-color, 80%);
            padding: 0.5rem;
            font-size: 0.9rem;
            &:before {
                content: attr(class);
                display: block;
                padding-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 800;
            }
            li {
                margin-left: 0.9rem;
                &:before {
                    content: "-";
                    font: var(--fa-font-solid);
                    display: inline-block;
                    width: 0.9rem;
                    margin-left: -0.9rem;
                    text-align: left;
                }
            }
            code, kbd, samp {
                margin: 0 !important;
                padding: 0 !important;
                background-color: transparent !important;
                font-size: 0.9rem !important;
                color: #{$color} !important;
            }
        }
    }
    .page-reply {
        margin: 1rem 0;
    }
}