<!DOCTYPE html>
<html lang="ko" preload>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/nanumsquareneo.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ '/assets/highlight.css' | relative_url }}"/>
  </head>
  <body>
    {{ content }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js" integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/excel.min.js" integrity="sha512-V7I7SdhDhJxPhPrvIHpy+FBERbKPihUHkDOiuxC+rG+knFAIcT2DGj5VLUZVJCwa4NNjHkBVH8GMCt32HyiMPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/vbnet.min.js" integrity="sha512-LNPAc119nGOqL6purcvlWX0dBb+KGz+ylhJJ3h6Pv+6ots12zKj2fYsTYfHgE6sMTowvpMc8uwqoo0mntHn/rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ '/assets/pseudo.js' | relative_url }}"></script>
    <script>
      hljs.highlightAll();
  </script>
  </body>
</html>