---
layout: default
---

<div class="fixed-sidebar">
    <div class="header">
        <h1 class="site-title">
            <a href="{{ '/' | relative_url }}">{{ site.title }}<i class="fa-regular fa-comment-dots"></i></a>
        </h1>
    </div>
    <div class="nav">
        Nav Loading...
    </div>
    <div class="footer">
        Footer...
    </div>
</div>
<div class="fixed-main">
    <div class="article">
        <h1 class="page-title">
            {{ page.title }}
        </h1>
        <div class="page-desc">
            Last updated:&nbsp;{{ page.updated }}
        </div>
        <div class="page-main">
            {{ content }}
        </div>
        <div class="page-reply">

        </div>
    </div>
</div>
<script>
    var target = '{{ "/assets/nav.html" | relative_url  }}';
    fetch(target).then(function(response) {
        return response.text();
    }).then(function(body) {
        document.querySelector('.nav').innerHTML = body;
        return;
    }).then(function() {
        var navtags = document.querySelectorAll('.navtag-title');
        var subtags = document.querySelectorAll('.subtag-title');

        for (var x of navtags) {
            x.addEventListener('click', function(e) {
                e.target.classList.toggle('clicked');
            });
        }
        for (var x of subtags) {
            x.addEventListener('click', function(e) {
                e.target.classList.toggle('clicked');
            });
        }
    }).then(function() {
        var cur = document.location.href.match(/(https?:\/\/[a-zA-Z0-9.:]+)([a-zA-Z0-9\/%_.-]+)/);
        var posts = document.querySelectorAll('.subtag-post');

        if (cur) {
            for (var x of posts) {
                var href = x.firstElementChild.getAttribute('href');
                if (href === cur[2]) {
                    x.classList.add('current');
                    var navtag = x.getAttribute('navtag');
                    var subtag = x.getAttribute('subtag');
                    document.querySelector(`.navtag[subtag="${subtag}]"`).classList.add('clicked');
                    document.querySelector(`.navtag[navtag="${navtag}]"`).classList.add('clicked');
                    break;
                }
            }
        }
    });
</script>