---
layout: default
---

<div class="fixed-sidebar">
    <div class="header">
        <h2 class="site-title">
            <a href="{{ '/' | relative_url }}">{{ site.title }}<i class="fa-regular fa-comment-dots"></i></a>
        </h2>
        <div class="nav-btn">
            EXPAND ALL CATEGORIES
        </div>
    </div>
    <div class="nav">
        Nav Loading...
    </div>
    <div class="footer">
        <div class="footer-msg">
            {{- site.footer-msg -}}
        </div>
    </div>
</div>
<div class="fixed-main">
    <div class="main-top">
        <div class="main-top-msg">
            {{- site.main-top-msg -}}
        </div>
        <div class="btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="article">
        <h1 class="page-title">
            {{ page.title }}
        </h1>
        <div class="page-desc">
            Last updated:&nbsp;{{ page.updated }}
        </div>
        <div class="page-main">
            {{ content }}
        </div>
        <div class="page-reply">

        </div>
    </div>
</div>
<script>
    var target = '{{ "/assets/nav.html" | relative_url  }}';
    fetch(target).then(function(response) {
        return response.text();
    }).then(function(body) {
        document.querySelector('.nav').innerHTML = body;
        return;
    }).then(function() {
        var navtags = document.querySelectorAll('.navtag-title');
        var subtags = document.querySelectorAll('.subtag-title');

        for (var x of navtags) {
            x.addEventListener('click', function(e) {
                e.target.classList.toggle('clicked');
            });
        }
        for (var x of subtags) {
            x.addEventListener('click', function(e) {
                e.target.classList.toggle('clicked');
            });
        }
    }).then(function() {
        var cur = document.location.href.match(/(https?:\/\/[a-zA-Z0-9.:]+)([a-zA-Z0-9\/%_.-]+)/);
        var posts = document.querySelectorAll('.subtag-post');

        if (cur) {
            for (var x of posts) {
                var href = x.firstElementChild.getAttribute('href');
                if (href === cur[2]) {
                    x.classList.add('current');
                    var navtag = x.getAttribute('navtag');
                    var subtag = x.getAttribute('subtag');
                    console.log(navtag, subtag);
                    document.querySelector(`.subtag[subtag="${subtag}"]`).querySelector('.subtag-title').classList.add('clicked');
                    document.querySelector(`.navtag[navtag="${navtag}"]`).querySelector('.navtag-title').classList.add('clicked');
                    document.querySelector('.fixed-sidebar').scrollTo(0, x.offsetTop - window.innerHeight/2);
                    break;
                }
            }
            
        }
    }).then(function() {
        var btn = document.querySelector('.btn');
        var sidebar = document.querySelector('.fixed-sidebar');

        btn.addEventListener('click', function() {
            sidebar.classList.toggle('clicked-btn');
        });
    }).then(function() {
        var btn = document.querySelector('.nav-btn');
        var navtags = document.querySelectorAll('.navtag-title');
        var subtags = document.querySelectorAll('.subtag-title');

        btn.addEventListener('click', function(e) {
            console.log('click!!');
            if (e.target.textContent == 'EXPAND ALL CATEGORIES') {
                for (var x of navtags) {
                    x.classList.add('clicked');
                }
                for (var x of subtags) {
                    x.classList.add('clicked');
                }
                e.target.classList.add('clicked');
            } else {
                for (var x of navtags) {
                    x.classList.remove('clicked');
                }
                for (var x of subtags) {
                    x.classList.remove('clicked');
                }
                e.target.classList.remove('clicked');
            }
        });
    });
</script>